.order-now {
  padding: 30px 15px;
  background-color: #70bf04;
}

.order-now__header {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Rubik Medium", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
}