.order {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("https://payshopss.ru/turbofit-nn6/img/rep-bg.jpg");
}

.order__header {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Rubik Regular", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: #424242;
}

.order__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.order__item {
  width: 48%;
  box-sizing: border-box;
  margin-bottom: 28px;

  & img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  & h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-family: "Rubik Regular", sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
  }

  & p {
    font-family: "Rubik Regular", sans-serif;
    font-size: 9px;
    font-weight: 200;
    text-align: center;
  }
}